# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

.DS_Store

# Training run logs
*.log

# Dataset / Models / Submissions
KneeXrayData/
OAI-KL/KneeXray
OAI-KL/models
OAI-KL/submission
OAI-KL/.venv/

OAI-KL/Grad CAM
OAI-KL/Ensemble Network Box Plot
OAI-KL/Score txt
OAI-KL/Final Result

OAI-KL/HealthHub FT